node_modules
.DS_Store
dist
coverage
.vite
*.tsbuildinfo
apps/desktop/src-tauri/target
apps/desktop/src-tauri/gen/schemas
apps/backend/_build
apps/backend/deps
apps/backend/.elixir_ls
apps/backend/erl_crash.dump
apps/backend/.sqlite3
apps/backend/*.sqlite3
apps/backend/*.sqlite3-shm
apps/backend/*.sqlite3-wal
